<!-- <app-header></app-header> -->
<div id="intro-example">
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Welcome to sim-card renewal system</h1>
        <h5 class="mb-4"></h5>
        <a
          class="btn btn-outline-light btn-lg m-2"
          routerLink="log-in"
          role="button"
          rel="nofollow"

        >LOG IN</a
        >
        <a
          class="btn btn-outline-light btn-lg m-2"
          routerLink="register"
          role="button"
        >REGISTER</a
        >
      </div>
    </div>
  </div>
</div>

