<mat-card class="ex-card" layout-align="center center">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Forgot Your Password</mat-card-title>
    </mat-card-header>
<form >

  <!-- Email input -->
  <div class="form-outline mb-2">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1" >Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example" class="form-control" />
    <label class="form-label" for="form2Example2">New Password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Confirm Password</label>
  </div>

  <button type="button" class="btn btn-primary btn-block mb-4">Reset</button>

</form>
</mat-card>
